.songComments{
    padding: 15px;
}
.songTitle{
    text-align: center;
}
.singleSong{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.songLink{
    margin-top: -18px;
    margin-bottom: -15px;
}

.displayReview{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.displayComment:hover{
    box-shadow: rgba(247, 121, 121, 0.842) 0px 2px 4px, rgba(236, 209, 209, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.profileImg{
    height: 1.5cm;
    padding-right: 10px;
}

.commentDisplay{
    margin-top: -20px;
    padding-bottom: 5px;
}
.comment{
    margin-bottom: -5px;
}
.rating{
    margin-top: -15px;
    margin-bottom: -15px;;
}

#nameInput{
    margin-bottom: 3px;
}

#ratingInput{
    margin-bottom: 3px;  
}
#commentInput{
    margin-bottom: 5px;  
}
.reviewInput button{
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.commenreviewInputts button:hover{
    background-color: black;
    color: white;
}